  <!-- Main content -->
  <div class="main-content">

    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
      <div class="container-fluid">
        <!-- Brand -->
        <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="./index.html">Dashboard</a>
        <!-- Form -->
        <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
          <div class="form-group mb-0">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
              </div>
              <input class="form-control" placeholder="Search" type="text">
            </div>
          </div>
        </form>
        <!-- User -->
        {% include 'includes/user-dropdown.html' %}
        
      </div>
    </nav>

    <!-- Header -->
    {% include 'includes/top-stats.html' %}

    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-8 mb-5 mb-xl-0">
          <div class="card bg-gradient-default shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-light ls-1 mb-1">Overview</h6>
                  <h2 class="text-white mb-0">Sales value</h2>
                </div>
                <div class="col">
                  <ul class="nav nav-pills justify-content-end">
                    <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales" data-update='{"data":{"datasets":[{"data":[0, 20, 10, 30, 15, 40, 20, 60, 60]}]}}' data-prefix="$" data-suffix="k">
                      <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">
                        <span class="d-none d-md-block">Month</span>
                        <span class="d-md-none">M</span>
                      </a>
                    </li>
                    <li class="nav-item" data-toggle="chart" data-target="#chart-sales" data-update='{"data":{"datasets":[{"data":[0, 20, 5, 25, 10, 30, 15, 40, 40]}]}}' data-prefix="$" data-suffix="k">
                      <a href="#" class="nav-link py-2 px-3" data-toggle="tab">
                        <span class="d-none d-md-block">Week</span>
                        <span class="d-md-none">W</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <!-- Chart wrapper -->
                <canvas id="chart-sales" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
                  <h2 class="mb-0">Total Requests</h2>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <canvas id="chart-orders" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-xl-8 mb-5 mb-xl-0">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Best performing employees for the month</h3>
                </div>
                <!-- <div class="col text-right">
                  <a href="#!" class="btn btn-sm btn-primary">See all</a>
                </div> -->
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Employee name</th>
                    <th scope="col">Monthly Sales</th>
                    <th scope="col">Revenue (GHS)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      Akwasi Amaning
                    </th>
                    <td>
                      4,569
                    </td>
                    <td>
                      5,700
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Esi Atta Koffie
                    </th>
                    <td>
                      3,985
                    </td>
                    <td>
                      4,200
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      John Kennedy
                    </th>
                    <td>
                      3,513
                    </td>
                    <td>
                      4,100
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Francis Kubi
                    </th>
                    <td>
                      2,050
                    </td>
                    <td>
                      3,800
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Aba Essel
                    </th>
                    <td>
                      1,795
                    </td>
                    <td>
                      1,900
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Worst Performing Employees</h3>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Employee name</th>
                    <th scope="col">Sales</th>
                    <th scope="col">Revenue (GHS)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      Godfred Muni
                    </th>
                    <td>
                      480
                    </td>
                    <td>
                      500
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Cynthia Amoako
                    </th>
                    <td>
                      580
                    </td>
                    <td>
                      610
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Belinda Andoh
                    </th>
                    <td>
                      607
                    </td>
                    <td>
                      698
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Henry Bentum
                    </th>
                    <td>
                      711
                    </td>
                    <td>
                      777
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Frank Owusu
                    </th>
                    <td>
                      890
                    </td>
                    <td>
                      900
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      {% include 'includes/footer.html' %}
      <!-- home data JS -->
      <script src="/static/assets/js/app.js"></script>

    </div>
  </div>

