
  <!-- Argon Scripts -->
  <!-- Core -->
  <script src="{{ url_for('static', filename='assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
  <!-- Optional JS -->
  <script src="{{ url_for('static', filename='assets/vendor/chart.js/dist/Chart.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/chart.js/dist/Chart.extension.js') }}"></script>
  <!-- Argon JS -->
  <script src="{{ url_for('static', filename='assets/js/argon.js') }}"></script>

  <!-- Site JS -->
  <!-- <script src="/static/assets/js/app.js"></script> -->
